@media (max-width: 1199.98px){

}
@media (max-width: 767.98px){

}



.nav-link{
    color: black!important;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}