@media (max-width: 1199.98px){

}
@media (max-width: 767.98px){
    
}
.navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    /* box-shadow: 0 .5rem .5rem rgba(0, 0, .1); */

}

.nav-item{
    padding: .5rem; 
}
.nav-link{
    color: #fa4f00!important;
}
.nav-link.active,
.nav-link:hover{
    color: #000c4e!important;
}

img{
    height: 675px;
    
}