body{
    
    text-decoration-line: none;
}

                    /* ----- Navigation ----- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

.nav-link ul {
    display: flex;
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Bebas Neue', cursive;

}
.navbar-links li a {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    color: black;
    padding: 1.5rem;
    display: block;
    /* margin-top: 30px; */
}

.nav-link a h1{
    font-size: 3.5rem;
    color: black;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    margin-top: 10px;
    padding-right: 10rem;
}

#social{
    padding-right: 0rem;
    color: black!important;
    font-size: 1.3rem;
}
.padding{
    padding-left: 2.5rem;
}
.swe{
    font-size: 1rem;
    color: black;
}

/* ----- Main Body ----- */

.first{
    padding-top: 2.5rem;
    font-size: 12px;
    padding-bottom: 3rem;
    font-weight: 1000;
}
.second{
    font-family: 'Xanh Mono', monospace;
}
.icon{
    font-size: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: gray;
    padding-right: 0.8rem;
}
.row h1{
    font-family: 'Bebas Neue', cursive;
}
.img{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.main p{
    font-family: 'Jost', sans-serif;
}
.third{
    font-weight: bold;
    padding-top: 1rem;
    font-size: 15px;
    text-transform: uppercase;
}
.fourth{
    padding-top: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}
.lefti{
    font-size: 4rem;
    padding-top: 0.5rem;
}
.righti{
    font-size: 4rem;
    padding-top: 0.5rem;
}
.hpn{
    font-size: 10px;
}
.h1i{
    font-family: 'Xanh Mono', monospace; 
}
.h6i{
    font-size: 15px;
}

                        /* ------ toggler ----- */
.toggle-button {
    position: absolute;
    top: 2rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;

}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1090px) {
    .toggle-button{
        display: flex;
    }
    .navbar-links{
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    #social{
        display: none;
    }
    .nav-link a h1{
        font-size: 2rem;
    }
    .swe{
        display: none;
    }
    .none{
        display: none;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active{
        display: flex;
    }
}


@media (max-width: 1199.98px){

}
@media (max-width: 767.98px){

}